<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <title></title>
</head>

<body>
  <div>
    <span style="font-family: arial;"><font face=
    "arial, helvetica, sans-serif">Way to go Steven,</font></span>

    <div style="font-family: arial;">
      <font face="arial, helvetica, sans-serif"><br></font>
    </div><span style=
    "font-family: arial, helvetica, sans-serif;">You've just joined
    Chicago's oldest and fastest growing hackerspace! Whether
    you're transferring in from another or a brand new member,
    we're glad to have you here.</span>
  </div>

  <div>
    <br>
  </div>

  <div>
    <div style=
    "color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: 13px; background-color: rgb(255, 255, 255);">
    We want you to get the most of your brand new membership, so
    there are a few things you can do to get started right away.
    </div>

    <div style=
    "color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: 13px; background-color: rgb(255, 255, 255);">
    <ul>
        <li>Please print and&nbsp;<a href=
        "http://dl.dropbox.com/u/8139855/liability-waiver.pdf"
        target="_blank" style="color: rgb(17, 85, 204);">fill out a
        waiver</a>&nbsp;and give it to any member of the Board of
        Directors on the next Tuesday you're available to come in
        (copies are available at the space).</li>

        <li>To get your code for the door, you <b>have</b> to show
        a form of identification to two board members. This is the
        only way to get the door code and is easiest done on a
        Tuesday. Afterwards, you'll have 24 hour access.<br></li>

        <li>Join our&nbsp;<a href=
        "https://groups.google.com/forum/?fromgroups#!forum/pumping-station-one"
        target="_blank" style="color: rgb(17, 85, 204);">private
        mailing list</a>. This is where our members-only
        announcements, safety warnings, and event announcements
        show up. You can't engage with our community if you aren't
        on there. If you have any questions, please send them to
        the private list! All members are on it and are able to
        answer your questions.</li>

        <li>You should create a ps1 account by <a href=
        "https://members.pumpingstationone.org/zinc/activate/"
        target="_blank">activating</a> at our member's site. This
        account will automagically allow you to: log into the wiki
        and log into the computers at the space.</li>

        <li>Once a month, we hold a class called PS1 Orientation.
        It's a great way to get oriented to the space and learn
        your way around the community - keep an eye on the mailing
        list for the next announced class. I highly recommend
        attending. Until then, feel free to look at
        the&nbsp;<a href=
        "http://wiki.pumpingstationone.org/Member_Manual" target=
        "_blank" style="color: rgb(17, 85, 204);">Member
        Manual</a>, which will answer many questions including how
        to get certified on our equipment.</li>
      </ul>
    </div>

    <div style=
    "color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: 13px; background-color: rgb(255, 255, 255);">
    <div>
        <br>
      </div>

      <div>
        We are nothing without our community and you wouldn't
        believe what can happen out of cooperation. Just being
        around discussion of projects and ideas can unlock
        creativity and motivation for your own projects, so don't
        hesitate to get involved!
      </div>

      <div>
        <br>
      </div>

      <div>
        <img src="cid:bry.jpeg" style=
        "height: 100px; width: 100px;" id="resize" align="left"
        name="resize">
      </div>

      <div>
        <br>
      </div>

      <div>
        <br>
      </div>

      <div>
        <br>
      </div>

      <div>
        <br>
      </div>

      <div>
        <br>
      </div>

      <div>
        <br>
      </div>

      <div>
        <br>
      </div>

      <div>
        Bryanna Denney
      </div>

      <div>
        President, Pumping Station: One
      </div>
    </div>
  </div><br>
  <br>
</body>
</html>
