{% extends "base.html" %}
{% load bootstrap3 %}

{% block extra_head %}
{{ person_form.media }}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h3>User Info</h3>
  </div>
</div>
{% if person.user %}
<div class="row">
  <div class="col-md-offset-1 col-md-11">
    <p>Username: {{ person.user }}</p>
  </div>
</div>
{% else %}
<div class="row">
  <div class="col-md-offset-1 col-md-11">
    <p>This person has not yet created a user account.</p>
  </div>
</div>
{% endif %}
<div class="row">
  <div class="col-md-12">
    <form role="form" class="form-horizontal" action="" method="post">
      {% csrf_token %}
      <h3>Personal Information</h3>
      {% bootstrap_form person_form layout="horizontal" %}

      <h3>Payment Information</h3>
      {% bootstrap_form paypal_form layout="horizontal" %}
      {% buttons layout='horizontal' %}
      <button type="submit" name="_save" class="btn btn-primary"> {% bootstrap_icon "star" %} Save</button>
      <button type="submit" name="_save_and_check_id" class="btn btn-default">{% bootstrap_icon "user" %} Check ID</button>
      <div class="btn-group">
        <button type="button" name="_save_and_send_email" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">{% bootstrap_icon "envelope" %} Email <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
          {% for email_template in email_templates %}
          <li><button type="submit" name="_save_and_send_email" value="{{email_template.id}}" class="btn btn-link">{{ email_template }}</button></li>
          {% endfor %}
        </ul>
      </div>
      <button type="reset" class="btn btn-default">Reset</button>
      {% endbuttons %}
    </form>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3>Member Points</h3>
  </div>
</div>
{% if person.user %}
<div class="row">
  <div class="col-md-offset-1 col-md-11">
    <p>Member Points: {{ person.user.memberpoint_set.valid.count|default:0 }}</p>
    <p>Used Points: {{ person.user.memberpoint_set.consumed.count|default:0 }}</p>
    <p>Expired Points: {{ person.user.memberpoint_set.expired.count|default:0 }}</p>
    <p>Next Expiration: {{ person.user.memberpoint_set.next_to_expire.expiration_date|default:'N/A' }}</p>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-11">
    <div class="btn-group" role="group" aria-label="...">
      <a href="{% url 'memberpoint-grant' user_id=person.user.pk %}" role="button" class="btn btn-success">{% bootstrap_icon "plus" %} Grant</a>
      <a href="{% url 'memberpoint-consume' user_id=person.user.pk %}" role="button" class="btn btn-danger">{% bootstrap_icon "minus" %} Consume</a>
    </div>
    <a href="{% url 'memberpoint-list' user_id=person.user.pk %}" role="button" class="btn btn-default">{% bootstrap_icon "th-list" %} List</a>
  </div>
</div>
{% else %}
<p class="alert alert-warning">A user account is requred to track Member Points.</p>
{% endif %}

<div class="row">
  <div class="col-md-12">
    <h3>ID Checks</h3>
     <ul>
      {% for id_check in id_checks %}
        <li>ID Check performed by {{ id_check.user }} on {{ id_check.created_at }}</li>
      {% empty %}
        <p>No ID Checks have been performed for this person</p>
      {% endfor %}
     </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3>Email Records</h3>
    <table class='table table-striped table-hover'>
      <tr>
        <th>Subject:</th>
        <th>From:</th>
        <th>To:</th>
        <th>Sent On</th>
        <th>Sender</th>
        <th>Status</th>
      </tr>
      {% for email_record in email_records %}
      <tr>
        <td>{{ email_record.subject }}</td>
        <td>{{ email_record.from_email }}</td>
        <td>{{ email_record.to_email }}</td>
        <td>{{ email_record.created_at }}</td>
        <td>{{ email_record.sender }}</td>
        <td>{{ email_record.status }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

{% endblock %}
