{% extends "base.html" %}
{% load bootstrap3 %}

{% block extra_head %}
{{ form.media }}
{% endblock %}


{% block content %}
<div class="row">
  <div class="span3 hidden-phone"></div>
  <div class="span6">
    <form class="form-horizontal well" id="form-login"" action="" method="post">
      <fieldset>
        <legend>Sign In</legend>
        {% csrf_token %}
        {{ form|as_bootstrap }}
        <div class="control-group">
          <div class="controls">
            <button type="submit" value="Submit" class="btn btn-primary">Sign In</button>
            <a href={% url 'django.contrib.auth.views.password_reset' %}>Forgot Password</a> /
            <a href={% url 'zoho_integration.views.activate_account' %}>Activate</a>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="span3 hidden-phone"></div>
</div>
{% endblock %}
