{% extends "base.html" %}
{% load bootstrap3 %}

{% block extra_head %}
{{ form.media }}
{% endblock %}


{% block content %}
<p>Password reset for {{ user.get_short_name }}.</p>


<form class="form-horizontal" action="" method="post">
  {% csrf_token %}
  {{ form|as_bootstrap }}
  <p class="form-actions">
    <input type="submit" value="Submit" class="btn btn-primary">
  </p>
</form>

<h2>Password Requirements</h2>
<ul>
  <li>Your password must be at least 7 characters long.</li>
  <li>Your password must contain 3 of the 5 following complexity categories:</li>
  <ul>
    <li>Uppercase characters</li>
    <li>Lowercase characters</li>
    <li>Numbers</li>
    <li>Non-alphanumeric characters:{% autoescape on %} ~!@#$%^&*_-+=`|\(){}[]:;"'<>,.?/ {% endautoescape %}</li>
    <li>Any unicode character that is alphabetic but not uppercase or lowercase (glyphs)</li>
  </ul>
  <li>Your password must not contain your username or full name.</li>
</ul>

</p>
{% endblock %}
