{% extends "base.html" %}
{% load bootstrap3 %}

{% block extra_head %}
{{ form.media }}
{% endblock %}


{% block content %}
<div class="row">
  <div class="col-md-12">
    <h2>Password reset for {{ user.get_short_name }}.</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Password Requirements</h3>
    <ul>
      <li>Your password must be at least 7 characters long.</li>
      <li>Your password must contain 3 of the 5 following complexity categories:</li>
      <ul>
        <li>Uppercase characters</li>
        <li>Lowercase characters</li>
        <li>Numbers</li>
        <li>Non-alphanumeric characters:{% autoescape on %} ~!@#$%^&*_-+=`|\(){}[]:;"'<>,.?/ {% endautoescape %}</li>
        <li>Any unicode character that is alphabetic but not uppercase or lowercase (glyphs)</li>
      </ul>
      <li>Your password must not contain your username or full name.</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <form class="form-horizontal" action="" method="post">
      {% csrf_token %}
      {% bootstrap_form form layout='inline' %}
      {% buttons %}
      <button type="submit" class="btn btn-primary">
        {% bootstrap_icon "star" %} Submit
      </button>
      {% endbuttons %}
    </form>
  </div>
</div>

{% endblock %}
