{% extends "base.html" %}
{% load bootstrap_toolkit %}

{% block extra_head %}
{% endblock %}


{% block content %}

<div class="row">
  <div class="span12">
    <h1>Full Members</h1>
    <table class='table table-striped'>
      <thead>
        <tr>
          <th>Name</th>
          <th>UserName</th>
          <th>Member Points</th>
        </tr>
      </thead>
      <tbody>
      {% for member in full_members %}
        <tr>
          <td>{{ member.get_full_name }}</td>
          <td>{{ member.user.ldap_user.sAMAccountName.0 }}</td>
          <td>{{ member.user.member_point.balance }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="span12">
    <h1>Starving Hackers</h1>
    <table class='table table-striped'>
      <thead>
        <tr>
          <th>Name</th>
          <th>UserName</th>
          <th>Member Points</th>
        </tr>
      </thead>
      <tbody>
      {% for member in starving_hackers %}
        <tr>
          <td>{{ member.get_full_name }}</td>
          <td>{{ member.user.ldap_user.sAMAccountName.0 }}</td>
          <td>{{ member.user.member_point.balance }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
